<a href="https://colab.research.google.com/github/uixarsh/Python_Programming/blob/master/1_Python_Revision_(27_12_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input("Enter your Number : "))
sum = 0
i=1
while i<=num:
  sum+=i
  i+=1
  print(sum)

Enter your Number : 5
1
3
6
10
15

In [ ]:
'''
i=1, sum=0, num=4 -> 1<=4 -> sum=1, i=2 -> 1
i=2, sum=1, num=4 -> 2<=4 -> sum=3, i=3 -> 3
i=3, sum=3, num=4 -> 3<=4 -> sum=6, i=4 -> 6
i=4, sum=6, num=4 -> 4<=4 -> sum=10, i=5 -> 10
i=5, sum=10, num=4 -> 5<=4 -> FALSE ........
'''

Right angle triangle

In [ ]:
n = int(input("Enter your Number : "))
for i in range (1,n+1):
  print("*"*i)

Enter your Number : 5
*
**
***
****
*****

Inverted Right angle Triangle

In [ ]:
n=int(input("Enter the Number : "))
for i in range (n,1):
  print("*"*i)
  n-=1

Enter the Number : 5

Hollow Pattern

In [ ]:
n=int(input("Enter the Rows : "))
for i in range (n): # controlling Rows
  for j in range (n): # controlling Columns.
    if i==0 or i == n-1 or j==0 or j==n-1:
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print() # if you remove this it will give you a clustered one.

Enter the Rows : 4
* * * *
*     *
*     *
* * * *

Mirror Image of Traingle.

In [ ]:
n= int (input("Enter the number: "))
for i in range(n):
  print(" ", end="")
  for j in range(n+1):
    print(n+1,end="")
  print()

Enter the number: 5
 66666
 66666
 66666
 66666
 66666

Inverted Right angle triangle.

In [ ]:
n=int(input("enter:"))
for i in range(n,0,-1):
  print("*"*i)

enter:6
******
*****
****
***
**
*

Palindrome

1111, 22222, 11233211

In [ ]:
s = input("Enter Input: ")

if s == s[::-1]:
  print(f"It is a Palindrome: {s}")
else:
  print(f"Not a Palindrome. ")

Enter Input: 34
Not a Palindrome.

In [ ]:
# Reverse a Number

n=int(input("Enter your Number : "))
rev=0
while n!=0:
  num = n%10 #it gives the Last Digit
  rev = (rev*10)+num # it starts giving the reverse digit
  n//=10 # it breaks the initial digits from last digit
print(rev)

Enter your Number : 789
987

Ternary Operator

In [ ]:
print("Hello") if 10>20 else print("Hi")

Hi

Decimal to Binary

In [ ]:
def convert (num):
  if num==0 or num==1:
    return num
  else:
    convert(num%2)

num = int (input("Enter your Number : "))
print(convert(num))

Enter your Number : 4
0
None

In [ ]:
a = 23
bin (a) # bin function for binary conversion

'0b10111'

In [49]:
d=25
b="" # an empty string that stores the Output
if d==0:
  print('0')
else:
  while d>0:
    remainder = d%2
    b= str(remainder) + b
    d//=2
print(b)

11001

In [48]:
x=[1,2,4]
y=[1,2,4]
z=x

print(x is y)
print(z is y)

False
False

In [50]:
x==y

True

In [51]:
x = int(input("enter : "))
print("Even") if x%2==0 else print("Odd")

enter : 4
Even