<a href="https://colab.research.google.com/github/uixarsh/Python_Programming/blob/master/4_List_and_List_Comprehension(31_12_2023).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**

In [ ]:
# Methods used till now ....

list.append()
list.clear()
list.copy()
list.count()
list.extend()
list.index()
list.insert()
list.pop()
list.remove()
list.reverse()
list.sort()

In [3]:
li = [1,2,3,'a','b','c']

In [4]:
# Check if a list contains an element.
'a' in li

True

In [8]:
# How to iterate over 2+ lists at same time

name = ['show', 'chevy', 'bull']
animal = ['cat','lion','kutta']
age = [1,2,4]

In [9]:
# use zip function and it gives you a Memory address back...
zip(name,animal,age)

In [11]:
list(zip(name,animal,age))

[('show', 'cat', 1), ('chevy', 'lion', 2), ('bull', 'kutta', 4)]

In [14]:
for i in list(zip(name,animal,age)):
  print(i)

('show', 'cat', 1)
('chevy', 'lion', 2)
('bull', 'kutta', 4)

In [15]:
# ENUMERATE FUNCTION
enumerate(name)

In [19]:
# ,_ acting as a placeholder for items and helping us to unpack the tuple
for i,_ in enumerate(name):
  print(name[i], animal[i], age[i])

show cat 1
chevy lion 2
bull kutta 4

In [20]:
for i in enumerate(name):
  print(i)

(0, 'show')
(1, 'chevy')
(2, 'bull')

In [21]:
name, age = ['e',2]

In [22]:
name

'e'

In [23]:
age

2

Swap 2 items in a list.

list1 = [23,85,19,99]

In [28]:
list1 = [23,85,19,99]
list1[0], list1[2] = list1[2], list1[0]
list1

[19, 85, 23, 99]

Program to find unique numbers in a given list.

l1 = [1,9,1,5,6,7,3,5,6,7,8,1,2]

In [29]:
l1 = [1,9,1,5,6,7,3,5,6,7,8,1,2]

In [31]:
empty_list=[]
for i in l1:
  if i not in empty_list:
    empty_list.append(i)

In [32]:
empty_list

[1, 9, 5, 6, 7, 3, 8, 2]

In [33]:
set(l1)

{1, 2, 3, 5, 6, 7, 8, 9}

python program for random integers.

In [47]:
import random
randomlist = []
for i in range(0,5):
  n = random.randint(1,30)
  randomlist.append(n)
print(randomlist)

[28, 13, 28, 2, 21]

In [48]:
# Python program to sort a list of strings on the number of alphabets in each word
word = ['apple','banana','pears']
sorted(word, key=len)

['apple', 'pears', 'banana']

In [50]:
# List of non-numeric items in a list in a seprate list.
li = ['apple',1,'bnana',2.23,3.13,'arsh',9.6,'kiwi']

In [53]:
isinstance(5.4,float) # if found float it will return true.

True

In [56]:
result = []
for i in li:
  if not isinstance(i,(int,float)):
    result.append(i)
result

['apple', 'bnana', 'arsh', 'kiwi']

In [57]:
string = "Hello, world! This is a big string with various characters."

In [58]:
ord('1')

49

In [59]:
ord('a')  # ASCII Value for each character

97

In [ ]:
result = []
for i in string:
  result.append(ord(i))
result

In [63]:
# Two common elements in a List.

l1=[1,2,4,5,6]
l2=[2,5,6,68,8]

common = []

for i in l1:
  if i in l2:
    common.append(i)
common

[2, 5, 6]

In [64]:
# Using set
set(l1).intersection(l2)

{2, 5, 6}

# **LIST COMPREHENSION**

1. Faster method
2. Creating an empty list then append over it is the conventional approach till now but it is an easier way to convert a list and directly write your code over it.

[ X for X in range (0,n+1) if X%2==0]

In [65]:
n = []
for i in range (1,11):
  n.append(i)
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
n = [i for i in range(1,11)]  # LIST COMPREHENSION => Eliminating Append
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
x = [i for i in range(1,21) if i%2==0]
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [68]:
# List of squares of all the odd numbers ranging from [1,20]

y = [i ** 2 for i in range(1,21) if i%2!=0]
y

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [72]:
# Writing Else statement within List comprehension so you need to take the conditional statement before the loop
z = [i ** 2 if i%2 ==0 else "Not Even" for i in range(1,21)]

In [73]:
z

['Not Even',
 4,
 'Not Even',
 16,
 'Not Even',
 36,
 'Not Even',
 64,
 'Not Even',
 100,
 'Not Even',
 144,
 'Not Even',
 196,
 'Not Even',
 256,
 'Not Even',
 324,
 'Not Even',
 400]

In [ ]:
# Nested Conditions

ages = [14, 20, 56, 45, 105, 20]

''' if >60 -> too old
    if >25 -> too young
'''
r=[]
for i in ages:
  if ages >25 and ages <60:
    print("too old")
    if()

In [ ]:
result = [("Too old" if age > 60 else "Right Age" if age > 25 else "Too young", age) for age in ages]

In [77]:
import random

[random.randint(1,100) for i in range(1,10)]

[80, 38, 97, 24, 68, 88, 1, 59, 85]

In [78]:
# Two common elements in a List.

l1=[1,2,4,5,6]
l2=[2,5,6,68,8]

common = []

for i in l1:
  if i in l2:
    common.append(i)
common

[2, 5, 6]

In [80]:
[i in l1 for i in l2]

[True, True, True, False, False]

In [84]:
l1=[1,2,4]
l2=[2,5,6]
result = []
for i in l1:
  for j in l2:
    result.append(i*j)
result

[2, 5, 6, 4, 10, 12, 8, 20, 24]

In [82]:
result = [i*j for i in l1 for j in l2]

In [85]:
result

[2, 5, 6, 4, 10, 12, 8, 20, 24]

In [86]:
["*" for i in range(1,5)]

['*', '*', '*', '*']

In [89]:
rows = 5
pattern = ''
for i in range(1, rows+1):
  row=''
  for j in range(1,i+1):
    row += str[j] + ' '
  pattern += row.strip() + '\n'

TypeError: ignored

In [ ]:
pattern = '\n'.join(' ', join(str(j)) for j in range(1, i+1) for j in )

# **TUPLES**

In [90]:
x = [23,34,35,53,234,334]
t = tuple(x)

In [91]:
t

(23, 34, 35, 53, 234, 334)

In [92]:
t+t

(23, 34, 35, 53, 234, 334, 23, 34, 35, 53, 234, 334)

In [95]:
0 in t

False

In [97]:
for i in t:
  print(t)

(23, 34, 35, 53, 234, 334)
(23, 34, 35, 53, 234, 334)
(23, 34, 35, 53, 234, 334)
(23, 34, 35, 53, 234, 334)
(23, 34, 35, 53, 234, 334)
(23, 34, 35, 53, 234, 334)

In [98]:
t.remove(i)

AttributeError: ignored

In [100]:
num,geet,list=(1,'',[324,34,34])

In [101]:
num

1

In [102]:
geet

''

In [103]:
list

[324, 34, 34]

In [104]:
sorted(t)

[23, 34, 35, 53, 234, 334]

In [105]:
t[0]

23

In [106]:
t[-1]

334

In [107]:
is t[5] == t[-1]

SyntaxError: ignored

In [111]:
vowels_tuple = ('a','e','i','o','u','s')

In [112]:
vowels_list = list(vowels_tuple)

TypeError: ignored

In [113]:
# WAP to unzip the list of tuples into individual lists.

listOfTuples = [(1,'a'),(2,'b')]
zip(listOfTuples)

In [115]:
list(zip(*listOfTuples))

TypeError: ignored