**1. Calculate the sum, difference, product and quotient of two numbers.**

In [ ]:
a = float(input("Enter the first number : "))
b = float(input("Enter the second number : "))
print("sum = ", a+b)
print("difference =", a-b)
print("product =", a*b)
print("quotient", (a-(a%b))/b)

**2. Perform various assignment operations on a variable.**

In [ ]:
a=10      #a=10
a+=20     #a=30
a*=2      #a=60
a/=2      #a=30.0
print(a)

**3. Compare two numbers and print the results.**

In [ ]:
a = float(input("Enter the First Nunber : "))
b = float(input("Enter the Second Number : "))
print ("a>b : ", a>b)
print ("a<b : ", a<b)
print ("a=b : ", a==b)

**4. Check conditions using logical operators.**

In [ ]:
a = bool(input("Enter the First True/False : "))
b = bool(input("Enter the Second True/False : "))
print("and operation : ", a and b)
print("or operation : ", a or b)
print ("not operation : ", not a, " ", not b)

**5. Check the identity of variables.**

In [ ]:
a=10
b=12
print(id(a))
print(id(b))

**6. Perform bitwise operations on any two integers.**

In [ ]:
a=8
b=a>>2 # Bitwise Right Shift => 1000>>2 => 0010 => 2
print(b)

c=16
d=c<<2 # Bitwise Left Shift => 10000<<2 => 10000000 => 64
print(d)

**7. Use unary operators to change the sign of a number.**

In [ ]:
a=7
print(-a)
print(-a+1023)

**8. Use the ternary operator to assign values based on conditions.**

In [ ]:
# TERNARY OPERATOR:
a=20
b=23
# Options1 if CONDITIONS else Options2
print("Hi") if a>b else print("Hello")