**1. Convert an Integer into a Floating Point number.**

In [6]:
a = 10
b = float(a)
print (b)
type(b)

10.0

float

**2. Convert a float into an Integer.**

In [7]:
a = 10.98
b = int(a)
print(b)
type(b)

10

int

**3. Convert an Integer into a sting.**

In [8]:
a = 10
b = str(a)
print(b)
type(b)

10

str

**4. Convert a list to a Tuple.**

In [15]:
def convertlist (list1):
  return tuple(list1)

list1=[1,2,3,4,5,6]
print(convertlist(list1))

(1, 2, 3, 4, 5, 6)

**5. Convert a tuple to a list.**

In [24]:
def tuple_to_list(t):
    return [*t]
# Using ASTERIX Operator it unpackes all the existing elements of tuple.
tuple_1 = (1, 2, 3, 4, 5)
print(tuple_to_list(tuple_1))
# [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

**6. Convert Decimal into Binary.**

In [52]:
def convertBinary (num):
  if num==0 or num==1:
    print(num, end="")
    return
  else:
    convertBinary(int(num/2))
    print(num%2, end="")

num = int(input("Enter the Number : "))
convertBinary(num)

Enter the Number : 8
1000

**7. Convert a non-zero number into Boolean.**

In [54]:
a = 5
b = bool(a)
print(type(b))
print(b)

<class 'bool'>
True